body {
  background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
  radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
  overflow-x: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  animation-iteration-count: infinite;
  font-family: 'Yeseva One';
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px 6px #267fc1;
  letter-spacing: 5px;
}

h3 {
  font-family: 'Spartan';
  font-size: 20px;
}

p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 6px #000000;
}

button {
  font-family: 'ABeeZee';
}

button:focus {
  outline: none;
}

.important {
  font-size: 30px;
  text-shadow: 3px 3px 12px #0062a9;
}

img {
  width: 30px;
  height: 30px;

  /* prevent drag */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

ul {
  list-style-type: none;
}

li {
  font-family: fantasy;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#first-number, #second-number, #third-number, #fourth-number {
  width: 70px;
  height: 70px;
  font-size: 20px;

  border: outset;
}

.box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-up, .arrow-down {
  background: transparent;
  border: none;
  width: 50px;
  height: 50px;

  cursor: pointer;
}

#guess, #start-button {
  display: block;
  margin: 0 auto;
  margin-top: 1.5em;

  width: 100px;
  height: 60px;
  font-size: 20px;
  border-radius: 28px;
  border: outset;
  cursor: pointer;
}

#start-button {
  width: 200px;
}

.chart {
  margin-top: 20px;
}

.chart-title, .chart-content {
  display: flex;
  justify-content: space-evenly;

  color: white;
}
